﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Search Products";
}

@model AmazonSearch.Controllers.Response

@if (Model.page != 5)
{
    <link rel="prefetch" href="/Products?keyword=@Model.keyword&page=@Convert.ToInt32(@Model.page + 1)"/>
}

<span id="currentCurrency" style="display: none;">@Model.currency</span>

<form method="get" action="/Products">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" name="keyword" value="@Model.keyword">
        <div class="input-group-btn">
            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
        </div>
    </div>
</form>

<div id="productsContainer">
    <ul class="list-group">
        @foreach (var item in Model.products)
        {
            <li class="list-group-item"><span class="badge"></span><span id="price">@item.price</span> <span id="currency">@Model.currency</span> - @item.title</li>
        }
    </ul>
    @if (Model.products.Count == 0)
    {
        <h1>NO PRODUCTS FOUND</h1>
    }
    else
    {
        for (int i = 1; i < 6; i++)
        {
            if (i != Model.page)
            {
                <a href="/Products?keyword=@Model.keyword&page=@i">@i</a>
            }
            else
            {
                <span>@i</span>
            }
        }
    }
</div>