﻿@{
    ViewBag.Title = "Home Page";
}

<form method="get" action="/Products">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" name="keyword">
        <div class="input-group-btn">
            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
        </div>
    </div>
</form>